/* Carousel
   ========================================================================== */

@use '../abstracts/variables';
@use '../abstracts/mixins';

.embla {
  &__viewport {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid variables.$gray;
    border-radius: variables.$rounded-full;
    background: variables.$white;
    color: variables.$secondary;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
      border: 1px solid variables.$accent;
      color: variables.$accent;
    }

    &--absolute {
      position: absolute;
      top: 50%;
      transform: translateY( -50% );

      &--left {
        left: -1rem;
      }

      &--right {
        right: -1rem;
      }
    }

    svg {
      height: 1.25rem;
      width: auto;
    }
  }

  &__dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;

    &--inset {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translateX( -50% );
    }
  }

  &__dot {
    -webkit-tap-highlight-color: variables.$white;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: variables.$rounded-full;
    transition: all 0.15s ease-in-out;

    &:after {
      box-shadow: inset 0 0 0 0.2rem rgba( variables.$white, 0.6 );
      width: 12px;
      height: 12px;
      border-radius: variables.$rounded-full;
      display: flex;
      align-items: center;
      content: '';
    }

    &--selected {
      transition: all 0.15s ease-in-out;

      &:after {
        box-shadow: inset 0 0 0 0.2rem variables.$primary;
      }
    }
  }

  &-thumbs {
    width: 100%;

    &__viewport {
      width: 100%;
      height: auto;
      overflow: hidden;
    }

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}
