/* Product Grid
   ========================================================================== */

@use '../../../src/scss/abstracts/variables';
@use '../../../src/scss/abstracts/mixins';

.product-grid {
  width: 100%;
  background: linear-gradient( to bottom, variables.$white 59%, variables.$gray 100% );

  &__heading {
    font-size: clamp( variables.$font-lg, 5vw, variables.$font-3xl );
    color: variables.$primary;
    font-weight: 700;
    text-align: center;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    color: variables.$black;

    span {
      color: variables.$primary;
    }

    p {
      font-size: clamp( variables.$font-base, 1vw, variables.$font-md );
      color: variables.$black;
      font-weight: 400;
    }
  }

  &__products {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;

    @include mixins.tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include mixins.desktop {
      gap: 1.5rem;
    }

    @include mixins.widescreen {
      gap: 2rem;
    }
  }

  &__product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background: variables.$white;
    padding: 2rem 1.25rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

    @include mixins.desktop {
      padding: 4rem 1.5rem;
    }

    &__heading {
      font-size: clamp( variables.$font-md, 4vw, variables.$font-2xl );
      font-weight: 700;
      color: variables.$primary;
      text-align: center;

      span {
        color: variables.$black;
      }
    }

    &__divider {
      width: 6rem;
      height: 0.375rem;
      background: variables.$secondary;
    }

    &__image {
      width: auto;
      height: 16rem;
      object-fit: contain;
    }

    &__subheading {
      font-size: clamp( variables.$font-base, 1vw, variables.$font-lg );
      font-weight: 700;
      color: variables.$primary;
      text-align: center;
    }

    &__feature-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }

    &__feature {
      width: 100%;
      font-size: clamp( variables.$font-base, 1vw, variables.$font-md );
      font-weight: 400;
      color: variables.$black;
      text-align: center;
      padding: 1rem 0;
      border-bottom: 1px solid variables.$secondary;
    }
  }
}