/* Base
   ========================================================================== */

@use '../abstracts/variables';
@use '../abstracts/mixins';

* {
  box-sizing: border-box;
}

html {
  font-size: variables.$font-root;
  scroll-behavior: smooth;
}

body {
  background: variables.$background;
  font-family: 'Jost', sans-serif;
}

section {
  width: 100%;
}

h1 {
  font-size: 50px;
  margin: 0;
}

h2 {
  font-size: 50px;
  margin: 0;
}

h3 {
  font-size: 50px;
  margin: 0;
}

h4 {
  font-size: 50px;
  margin: 0;
}

h5 {
  font-size: 50px;
  margin: 0;
}

h6 {
  font-size: 50px;
  margin: 0;
}

p {
  font-size: variables.$font-base;
  margin: 0;
}

ul,
ol {
  font-size: variables.$font-base;
  margin: 0;
}

[x-cloak] {
  display: none !important;
}