/* LP Header
   ========================================================================== */

@use '../../../src/scss/abstracts/variables';
@use '../../../src/scss/abstracts/mixins';

.lp-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: variables.$white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 50;

  &__wrapper {
    position: relative;
    width: 100%;
    padding: 0.5rem variables.$container-padding;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: variables.$white;
  }

  &__logo {
    max-width: 5rem;
    width: 100%;
    height: auto;

    @include mixins.laptop {
      max-width: 9rem;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__cta-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }

  &__cta {
    &__phone {
      &--mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        height: 2.75rem;
        background: variables.$secondary;
        border: 1px solid variables.$secondary;
        border-radius: variables.$rounded-lg;
        padding: 0 1rem;
        line-height: 1;
        font-size: variables.$font-sm;
        font-weight: 700;
        color: variables.$primary;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.15s ease-in-out;

        @include mixins.tablet {
          font-size: variables.$font-base;
        }

        @include mixins.laptop {
          display: none;
        }

        &:hover {
          border: 1px solid variables.$accent;
          background: variables.$accent;
        }
      }

      &--desktop {
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-size: clamp( variables.$font-md, 1vw, variables.$font-lg );
        font-weight: 700;
        color: variables.$secondary;
        text-decoration: none;
        transition: all 0.15s ease-in-out;

        @include mixins.laptop {
          display: flex;
        }

        &:hover {
          color: variables.$primary;
        }

        &__span {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          background: variables.$secondary;
          padding: 0.5rem;
          font-size: variables.$font-base;
          color: variables.$primary;
        }
      }
    }

    &__form {
      display: none;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 2.75rem;
      background: variables.$secondary;
      border: 1px solid variables.$secondary;
      border-radius: variables.$rounded-lg;
      padding: 0 1rem;
      font-size: variables.$font-sm;
      font-weight: 700;
      color: variables.$primary;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.15s ease-in-out;

      @include mixins.tablet {
        font-size: variables.$font-base;
      }

      @include mixins.laptop {
        display: flex;
        font-size: variables.$font-semi-md;
      }

      &:hover {
        border: 1px solid variables.$accent;
        background: variables.$accent;
      }
    }
  }
}