/* Certifications
   ========================================================================== */

@use '../../../src/scss/abstracts/variables';
@use '../../../src/scss/abstracts/mixins';

.certifications {
  width: 100%;

  &__wrapper {
    width: 100%;
    border: 1px solid variables.$secondary;
    padding: 2rem 1.25rem;

    @include mixins.laptop {
      padding: 4rem 2.5rem;
    }
  }

  &__heading {
    font-size: clamp( variables.$font-lg, 5vw, variables.$font-3xl );
    color: variables.$primary;
    font-weight: 700;
    text-align: center;
  }

  &__gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

    @include mixins.tablet {
      gap: 1.5rem;
    }

    @include mixins.laptop {
      gap: 2rem;
    }

    @include mixins.widescreen {
      gap: 3rem;
    }
  }

  &__image {
    width: auto;
    height: clamp( 4rem, 4vw, 8rem );
    object-fit: contain;
  }
}
