/* Product Table
   ========================================================================== */

@use '../../../src/scss/abstracts/variables';
@use '../../../src/scss/abstracts/mixins';

.product-grid {
  width: 100%;
  background: linear-gradient( to bottom, variables.$white 59%, variables.$gray 100% );

  &__heading {
    font-size: clamp( variables.$font-lg, 5vw, variables.$font-3xl );
    color: variables.$primary;
    font-weight: 700;
    text-align: center;
  }
}