/* LP Header
   ========================================================================== */

@use '../../../src/scss/abstracts/variables';
@use '../../../src/scss/abstracts/mixins';

.page-hero {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  width: 100%;
  background: variables.$primary;

  @include mixins.laptop {
    grid-template-columns: 1fr 1fr;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;

    &__wrapper {
      position: relative;
      min-width: 0;
      min-height: 0;
      width: 100%;
      height: 100%;
      max-height: 17.5rem;
      overflow: hidden;

      @include mixins.tablet {
        max-height: 22.5rem;
      }

      @include mixins.laptop {
        max-height: 37.5rem;
      }

      @include mixins.widescreen {
        max-height: 50rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 2rem 1.25rem;

    @include mixins.laptop {
      gap: 2rem;
      padding: 4rem 2.5rem;
    }

    @include mixins.desktop {
      padding: 4rem 3rem;
    }

    @include mixins.widescreen {
      padding: 4rem;
    }

    &__heading {
      font-size: clamp( variables.$font-lg, 5vw, variables.$font-3xl );
      color: variables.$white;
      font-weight: 700;
      text-align: center;
    }

    &__offer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 100%;
      color: variables.$white;
      text-align: center;

      h2 {
        font-size: clamp( variables.$font-xl, 5vw, variables.$font-super );
        color: variables.$white;
        font-weight: 700;
        text-align: center;
      }

      h3 {
        font-size: clamp( variables.$font-md, 5vw, variables.$font-2xl );
        color: variables.$white;
        font-weight: 500;
        text-align: center;
      }

      p {
        font-size: clamp( variables.$font-base, 1vw, variables.$font-md );
        color: variables.$white;
        font-weight: 400;
        text-align: center;
      }

      a {
        color: variables.$white !important;
        text-decoration: underline;
        transition: all 0.15s ease-in-out;

        &:hover {
          color: variables.$secondary;
        }
      }

      span {
        color: variables.$secondary;
      }
    }
  }
}