/* Call To Action
   ========================================================================== */

@use '../../../src/scss/abstracts/variables';
@use '../../../src/scss/abstracts/mixins';

.call-to-action {
  width: 100%;

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 100%;

    @include mixins.laptop {
      grid-template-columns: 2fr 3fr;
      align-items: center;
      gap: 2.5rem;
    }
  }

  &__content {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;

    @include mixins.tablet {
      gap: 1.5rem;
    }

    @include mixins.laptop {
      order: 2;
    }

    &__heading {
      font-size: clamp( variables.$font-lg, 5vw, variables.$font-3xl );
      color: variables.$primary;
      font-weight: 700;
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;
      width: 100%;
      color: variables.$black;

      span {
        color: variables.$primary;
      }

      p {
        font-size: clamp( variables.$font-base, 1vw, variables.$font-md );
        color: variables.$black;
        font-weight: 400;
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;
        list-style-image: url('../../../src/icons/list-check-gray.png');
        list-style-position: outside;
      }

      li {
        font-size: clamp( variables.$font-base, 1vw, variables.$font-md );
        color: variables.$black;
        font-weight: 400;
      }
    }

    &__cta {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 2.75rem;
      background: variables.$secondary;
      border: 1px solid variables.$secondary;
      border-radius: variables.$rounded-lg;
      padding: 0 1rem;
      font-size: variables.$font-sm;
      font-weight: 700;
      color: variables.$primary;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.15s ease-in-out;

      @include mixins.tablet {
        font-size: variables.$font-base;
      }

      @include mixins.laptop {
        font-size: variables.$font-semi-md;
      }

      &:hover {
        border: 1px solid variables.$accent;
        background: variables.$accent;
      }

      &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @include mixins.laptop {
          align-items: flex-start;
        }
      }
    }
  }

  &__image {
    order: 2;
    width: 100%;
    height: auto;
    object-fit: contain;

    @include mixins.laptop {
      order: 1;
    }
  }
}